/*Resets the whole page and removes all browser defaults*/
* {
  margin: 0; /*space outside an element*/
  padding: 0;/*space inside and element*/
  box-sizing: border-box; /*makes width include padding*/
}

body {
  font-family: 'Poppins', sans-serif; /*Ensures that every text in the body has this font*/
  background-color: #0a0a0a;/* this is the color of the body section of the page*/
  color: #ffffff; /*Every text in the section should have this font color*/
}

nav {
  display: flex; /*line everything up horizontally the logo*/
  justify-content: space-between; /*pushes the logo left, links right*/
  align-items: center; /*centers everything vertically*/
  padding: 20px 60px; /*breathing room inside the nav*/
  background-color: #111111; /*dark background*/
}

.logo {
  font-size: 20px; /*the size of the logo*/
  font-weight: 700; /*controls how bold the text is*/
  color: #534ab7; /*text color of the logo*/
}

nav ul {
  list-style: none; /*removes any styling like bullet points of the links*/
  display: flex; /*lines the links horizontally*/
  gap: 32px; /*add space between the links*/
}

nav ul li a {
  text-decoration: none; /*removes the underline from the a tags*/
  color: #ffffff; /*Text color of the elements to white*/
  font-size: 14px; /*specifies the font size of the navigation links*/
  transition: color 0.2s; /*makes the color change smoothly when you hover over it*/
}

nav ul li a:hover { /*once I hove my cursor over the links they should turn to the specified color*/
  color: #534ab7; 
}

#hero{
  min-height: 90vh; /* makes the hero section occupy 90% of the visible screen*/
  display: flex; /* enables flexbox on this element */
  flex-direction: column; /* stacks elements vertically instead of horizontally */
  justify-content: center; /* centers elements vertically */
  align-items: center; /* centers elements horizontally */
}

#hero h1 {
  font-size: 50px; /* size of the heading text */
  font-weight: 700; /* sets the boldness of the text */
  color: #ffffff; /* sets text color for the hero heading */
  margin-bottom: 10px; /* sets breathing room between the heading and the next element*/
}

#hero p {
  font-size: 20px; /* sets the size of the paragraph text */
  color: #aaaaaa; /* sets the text color of the paragraph */
  line-height: 1.6; /* controls spacing between lines of text, 1.6 times the font size */
}

#about {
  padding: 80px 60px;
  max-width: 600px;
}